<div class="row">
  <div class="span6 offset2">
    <div class="boxes">
      <legend><%= @title %></legend>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Profession</th>
            <th>Organization</th>
          </tr>
        </thead>
        <tbody>
          <% @profiles.each do |profile| %>
            <tr>
              <td><%= mail_to profile.user.email, profile.name %></td>
              <td><%= profile.profession %></td>
              <td><%= profile.entity %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
