<div class="row">
  <div class="span6 offset2">
    <div class="boxes">
      <legend><%= @title %></legend>
      <table>
        <tbody>
          <tr>
            <td width="45%"><b>Profession</b></td>
            <td><%= @profile.profession %></td>
          </tr>
          <tr>
            <td><b>Organization</b></td>
            <td><%= @profile.entity %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
