<div class="row">
  <div class="span6">
    <div class="boxes">
      <legend><%= @title %></legend>
      Welcome to Silicon Valley Social Innovation Forum,
      feel free to post your ideas here.
    </div>
  </div>
</div>
