<div class="row">
  <div class="span6 offset2">
    <div class="boxes">
      <legend><%= @title %></legend>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Champion</th>
          </tr>
        </thead>
        <tbody>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.title %></td>
              <td><%= project.title %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @projects %>
    </div>
  </div>
</div>
